---
---
<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
  <link href="css/bootstrap-skim.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="css/timeline.css" />
  <script src="js/modernizr.custom.js"></script>
</head>
<body>
  {% include header.html %}
  <main class="main-container">
    <div class="container">
      <div class="main">
        <h1>Portfolio</h1>
        <ul class="cbp_tmtimeline">
          <li>
            <div class="cbp_tmlabel">
              <h2 id="boxoffice">Suncorp Reimagine Projects</h2>
              <time>2018.12</time>
              <div class="bd-example">
                <div id="reimagine-projects" class="carousel slide carousel-reimagine" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item carousel-item-reimagine active">
                      <a target="_blank" title="Click to visit AAMI" href="https://motor.aami.com.au"><img src="../../../images/quote-AAMI.png" class="d-block w-100"></a>
                    </div>
                    <div class="carousel-item carousel-item-reimagine">
                      <a target="_blank" title="Click to visit GIO" href="https://motor.gio.com.au"><img src="../../../images/quote-GIO.png" class="d-block w-100"></a>
                    </div>
                    <div class="carousel-item carousel-item-reimagine">
                      <a target="_blank" title="Click to visit Suncorp" href="https://motor.suncorp.com.au"><img src="../../../images/quote-Suncorp.png" class="d-block w-100"></a>
                    </div>
                    <div class="carousel-item carousel-item-reimagine">
                      <a target="_blank" title="Click to visit APIA" href="https://motor.apia.com.au"><img src="../../../images/quote-APIA.png" class="d-block w-100"></a>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#reimagine-projects" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#reimagine-projects" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                  <ol class="carousel-indicators">
                    <li data-target="#reimagine-projects" data-slide-to="0" class="active"></li>
                    <li data-target="#reimagine-projects" data-slide-to="1"></li>
                    <li data-target="#reimagine-projects" data-slide-to="2"></li>
                    <li data-target="#reimagine-projects" data-slide-to="3"></li>
                  </ol>
                </div>
              </div>
              <ul>
                <li>
                  <p>
                    These green-field projects are built with React, SpringBoot and are deployed to AWS S3 and CloudFormation. They bring in simplified, humanised and mobile-first online customer journey to the major motor insurance brands of the company including
                    <a target="_blank" title="Click to visit AAMI" href="https://motor.aami.com.au">AAMI</a>, <a target="_blank" title="Click to visit GIO" href="https://motor.gio.com.au">GIO</a>, <a target="_blank" title="Click to visit Suncorp" href="https://motor.suncorp.com.au">Suncorp</a> and <a target="_blank" title="Click to visit APIA" href="https://motor.apia.com.au">APIA</a>.
                  </p>
                  <p>
                    I was the main developer of the AAMI and GIO front-end and led multiple production releases. Then became the tech-lead of two teams for optimising all the reimagine projects.
                  </p>
                  <p>
                    The sales of the corresponding products having been uplifted by 5.51% - 15.58% since release, adding more than $30,000,000 annualised incremental GWP to the company.
                  </p>
                </li>
                <li class="skill">
                  <span class="i-react"></span>
                  <span class="i-spring-boot"></span>
                  <span class="i-aws-s3"></span>
                  <span class="i-aws-cloudformation"></span>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="cbp_tmlabel">
              <h2 id="boxoffice">Sublime Snippets Support</h2>
              <time>2018.02</time>
              <img src="../../../images/intellij-sublime-snippets.png" style="padding: 5px">
              <ul>
                <li>
                  <p>
                    <a href="https://plugins.jetbrains.com/plugin/10446-sublime-snippets-support">This IntelliJ plugin</a> enables you to use your <a href="http://docs.sublimetext.info/en/latest/extensibility/snippets.html" target="_blank">Sublime Text Snippets</a> directly as IntelliJ <a href="https://www.jetbrains.com/help/idea/live-templates.html" target="_blank">Live Templates</a>. It can be helpful if you have a collection of sublime snippets and wish to use them in your InteilliJ IDEs.
                  </p>
                  <div class="help-block">
                    Hope you like it.
                  </div>
                </li>
                <li class="skill">
                  <span class="i-kotlin"></span>
                  <span class="i-intellij-platform"></span>
                  <span class="i-antlr"></span>
                  <span class="link"><a href="https://github.com/kevinlinxp/intellij-sublime-snippets-support" target="_blank">View Plugin</a></span>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="cbp_tmlabel">
              <h2 id="boxoffice">Angular Form Builder</h2>
              <time>2017.04</time>
              <img src="../../../images/angular-form-builder.png" style="padding: 5px">
              <ul>
                <li>
                  <p>
                    Form Builder is a single page web application that provides a set of drag-and-dropable components for creating large, complex and dynamic forms in minutes.
                  </p>
                  <p>
                    As the <b>core developer</b>, I built this project with <a href="https://angularjs.org/" target="_blank">AngularJS</a> and <a href="https://projects.spring.io/spring-boot/">Spring Boot</a> and integrated it into our company's other projects as a Maven dependency.
                  </p>
                  <p>
                    This demo is a simplified version of Form Builder as a proof-of-concept for upgrading it from <a href="https://angularjs.org/" target="_blank">AngularJS</a> to <a href="https://angular.io/" target="_blank">Angular</a>.
                  </p>
                  <div class="help-block">
                    The size of this demo is 3MB and it will send remote calls to my back-end server in the US. So please wait for a few seconds for it to load, or just refresh the page if it takes too long.
                  </div>
                </li>
                <li class="skill">
                  <span><b>JS</b></span>
                  <span class="i-angularjs"></span>
                  <span class="i-spring-boot"></span>
                  <span class="i-angular"></span>
                  <span class="link"><a href="../../../angular-dnd-builder" target="_blank" >View Demo</a></span>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="cbp_tmlabel">
              <h2 id="busyweek">SAILIS</h2>
              <time>2016.12</time>
              <img src="../../../images/sailis.png">
              <ul>
                <li>
                  <p>
                    The <a href="https://www.sailis.sa.gov.au/home/public" target="_blank">South Australian Integrated Land Information System (SAILIS)</a> offers online access to land and property information with a range of services and products.
                  </p>
                  <p>
                    I integrated Form Builder into this project and replaced one of its module (Priority Notice Lodgement) with it. I also develped E-Valuation System, a sub-system that works with SAILIS for property valuation.
                  </p>
                </li>
                <li class="skill">
                  <span class="i-java"></span>
                  <span class="i-spring"></span>
                  <span><b>JS</b></span>
                  <span class="i-angularjs"></span>
                  <span class="link"><a href="https://www.sailis.sa.gov.au/home/public" target="_blank">Go to SAILIS</a></span>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="cbp_tmlabel">
              <h2 id="boxoffice">WaterMe Server</h2>
              <time>2016.05</time>
              <img src="../../../images/water-me.png">
              <ul>
                <li>
                  <p>
                    <a href="http://www.nymet.com.au/" target="_blank">Nymet Australia</a> sells "WaterMe", a wireless irrigation device that can control valves, collect watering metrics, and communicate with the WaterMe server through HTTP. Customers can register their purchased devices on the same server and control these devices remotely.
                  </p>
                  <ul class="text-ul">
                    <li>The back-end technology stack is a typical combination of Spring MVC and Hibernate with RESTful APIs (Jersey).</li>
                    <li>The front-end uses JSP with <a href="https://angularjs.org/" target="_blank">AngularJS</a> to create an interactive UI for the system users.</li>
                    <li>This real-time project is fully covered with unit and integration tests.</li>
                  </ul>
                  <div class="help-block">
                    Test accounts are removed due to security reasons.
                  </div>
                </li>
                <li class="skill">
                  <span class="i-java"></span>
                  <span class="i-spring"></span>
                  <span><b>JS</b></span>
                  <span class="i-angularjs"></span>
                  <span class="link"><a href="https://www.control-me.net" target="_blank">WaterMe</a></span>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="cbp_tmlabel">
              <h2 id="busyweek">TextbookMango</h2>
              <time>2014.07</time>
              <img src="../../../images/textbookmango.png">
              <ul>
                <li>
                  <p>
                    <a href="http://www.textbookmango.com" target="_blank">TextbookMango</a> <b>was my own business and my unforgettable memory</b>. In late 2013, I met my ambitious partners in university when I was studying for my Master's degree in Software Engineering. Then together, we started TextbookMango - a small bookshop in 422/147 Pirie Street renting and selling textbooks through <a href="http://www.textbookmango.com" target="_blank">our website</a>.
                  </p>
                  <p>
                    Although we had to eventually close our business after 3 years of hard work without seeing expected profit growth, we learned a lot by joining our efforts to run such a real business for literally 36 months.
                  </p>
                </li>
                <li class="skill">
                  <span class="i-magento"></span>
                  <span class="i-java"></span>
                  <span class="cbp_tmicon-phone"></span>
                  <span class="link"><a target="_blank" href="http://www.textbookmango.com/">Open "live" site</a></span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </main>

  {% include footer.html %}
  {% include github-corner.html %}
  <script src="../../../js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>



