<header class="site-header">
  <div class="container">
    <input type="checkbox" id="toggleNavbar">
    <a href="{{ '/' | prepend: site.baseurl }}" title="Home" class="home-navbar-link">
      <img src="{{ site.author.thumb | prepend: site.baseurl }}" alt="author thumb" width="29px" class="dot">
    </a>
    <label for="toggleNavbar" role="button" class="toggle-navbar-button">
      <i class="icon icon-menu"></i>
      <i class="icon icon-cross"></i>
    </label>
    <nav class="navbar">
      <ul>
        <li><a href="{{ '/' | prepend: site.baseurl }}" title="Home">Home</a></li>
        <li><a href="{{ '/resume/resume.html' | prepend: site.baseurl }}" title="Resume">Resume</a></li>
        <li><a href="https://www.linkedin.com/in/kevin-lin-9b016571/" title="LinkedIn">LinkedIn</a></li>
        <li><a href="https://github.com/kevinlinxp" title="Github">Github</a></li>
      </ul>
    </nav>
  </div>
</header>
