<ul class="social">
  <!-- <li><a href="{{ site.author.twitter }}" target="_blank"><i class="icon icon-twitter"></i></a></li> -->
  <!-- <li><a href="{{ site.author.facebook }}" target="_blank"><i class="icon icon-facebook"></i></a></li> -->
  <li><a href="{{ '/resume' | prepend: site.baseurl }}" target="_blank" title="Resume"><i class="icon icon-user-tie"></i></a></li>
  <li><a href="{{ '/portfolio' | prepend: site.baseurl }}" target="_blank" title="Portfolio"><i class="icon icon-images"></i></a></li>
  <li><a href="{{ site.author.linkedin }}" target="_blank" title="LinkedIn"><i class="icon icon-linkedin"></i></a></li>
  <li><a href="{{ site.author.github }}" target="_blank" title="Github"><i class="icon icon-github"></i></a></li>
</ul>
